@import "css/header.css";
@import "css/desktop.css";
@import "/css/tablet.css";
@import "css/services.css";
@import "/css/version.css";
@import "css/footer.css";

*{
    margin: 0;
    padding: 0;
}
html body{
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: antiquewhite;
}